/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.show-on-destop {
  display: none;
}

.show-on-mobile {
  display: block;
}

.show-on-mobile-flex {
  display: flex;
}

.header__logo {
  width: 37px;
  height: 44px;
  order: 1;
}

.header__mail {
  margin-left: auto;
  order: 2;
}

.header__menu-icon-wrap {
  margin-left: 10px;
  order: 3;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}

.mobile-header {
  position: fixed;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s, width 0.25s;
  background: #5d3bee;
  z-index: 2;
}

[type="checkbox"]:checked ~ .menu-overlay,
[type="checkbox"]:checked ~ .mobile-header {
  opacity: 1;
  visibility: visible;
}

[type="checkbox"]:checked ~ .mobile-header {
  width: 65%;
}

.checkbox-btn {
  margin-top: 20px;
  margin-left: calc(100% - 45px);
  width: 25px;
  height: 25px;
}

.mobile-header__menu {
  margin-top: 20px;
}

.mobile-header__menu-link {
  text-align: center;
}

.mobile-navbar__link {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 2.2rem;
}

/* =======================================Hero====================================== */
.hero__inner {
  flex-direction: column;
}

.hero__image {
  order: 2;
}

.hero__content {
  margin-top: 20.5px;
  order: 1;
}

.hero__portrait {
  position: relative;
  margin: 20px auto 0;
  display: block;
  width: 259px;
  height: 355px;
  object-fit: cover;
  z-index: 1;
}

.hero__heading {
  font-size: 4.2rem;
  line-height: 1.19048;
  letter-spacing: -0.168rem;
}

.hero__desc {
  max-width: 318px;
  font-size: 1.6rem;
  line-height: 1.625;
}

.hero__btn-group {
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hero__cta {
  min-width: 147px;
  line-height: 55px;
  font-size: 1.6rem;
}

.hero__btn {
  color: #080415;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875;
  text-decoration: underline;
}

.hero__contact {
  margin-top: 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.hero__contact-desc {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42857;
}

.hero__social-wrap {
  display: flex;
  align-items: center;
  column-gap: 15.5px;
}

.hero__social {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__social-icon {
  scale: 77.5%;
}

.hero__mobile-decor {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* =======================================Client====================================== */
.client {
  margin-top: 80px;
  padding: 40px 0px;
  overflow: hidden;
}

.client__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.client__heading {
  text-align: center;
  position: relative;
  padding-top: 6px;
  font-size: 2.8rem;
  line-height: 1.21429;
  letter-spacing: -0.112rem;
}

.client__heading::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 2px;
  background: #5d3bee;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.client-group-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.client-group-1,
.client-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
}

.client-group-2 {
  column-gap: 55px;
}

/* =======================================Special====================================== */
.special {
  margin-top: 40px;
  padding: 40px 0px;
}

.special__heading {
  color: #080415;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: -1.44px;
  text-align: center;
}

.special__desc {
  width: 350px;
  color: #51586a;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.625;
  margin-left: auto;
  margin-right: auto;
}

.special-list {
  margin-top: 50px;
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}

.special-item {
  width: 100%;
  height: 280px;
  flex-shrink: 0;
  padding: 29px 50px;
  background: #fbfaff;
}

.special-item__title {
  color: #080415;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.28571;
  letter-spacing: -0.112rem;
}

.special-item__desc {
  margin-top: 10px;
  color: #51586a;
  font-size: 1.6rem;
  line-height: 1.75;
}

/* =======================================Project====================================== */
.project {
  margin-top: 120px;
  padding: 70px 0px 60px;
  background: #5d3bee;
  overflow: hidden;
}

.project__row {
  margin-bottom: 60px;
}

.project__heading {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.16667;
  letter-spacing: -0.144rem;
}

.project__desc {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.625;
  opacity: 0.6;
}

.project__list {
  --spacer-y: 20px;
}

.project-item {
  position: relative;
  padding: 20px 15px;
  background: #fbfaff;
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.project-item__content,
.project-item__image {
  position: relative;
  z-index: 1;
}

.project-item__image {
  margin-left: auto;
}

.project-item__title {
  --line: 1;
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.41667;
  letter-spacing: -0.096rem;
}

.project-item__desc {
  margin-top: 4px;
  color: #51586a;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.project-item__more {
  display: inline-block;
  margin-top: 4px;
  color: #080415;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  text-decoration: underline;
}

.project-item__thumb {
  display: block;
  width: 122px;
  height: 93px;
  object-fit: cover;
}

.project-item__decor {
  position: absolute;
  height: 100%;
  right: 0;
}

.project__btn {
  margin-top: 50px;
  background: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 154px;
  color: #080415;
  font-size: 1.6rem;
  line-height: 56px;
}

/* =======================================Journey====================================== */
.journey {
  position: relative;
  padding: 120px 0px 67px;
  background: linear-gradient(to bottom, #fff 47%, #fbfaff 47%);
  overflow: hidden;
}

.journey__greet-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey__greet {
  color: #5d3bee;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.08rem;
}

.journey__image {
  margin: 0px -15px;
  scale: 0.3;
}

.journey__heading,
.journey__review-title {
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.16667;
  letter-spacing: -0.144rem;
}

.journey__heading {
  margin-top: 10px;
}

.journey__desc,
.journey__review-desc {
  margin-left: auto;
  margin-right: auto;
  color: #51586a;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.625;
}

.journey__desc {
  margin-top: 20px;
}

.journey__separate {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 1px;
  background: #080415;
  opacity: 0.2;
}

.journey__separate--1 {
  margin-top: 50px;
}

.journey__info {
  margin: 30px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.journey-info-block__num {
  display: block;
  color: #080415;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.09rem;
  text-decoration: underline;
}

.journey-info-block__desc {
  color: #51586a;
  font-size: 1.6rem;
  line-height: 1.375;
}

.journey-video {
  margin-top: 40px;
  position: relative;
}

.journey-video__thumb {
  display: block;
  width: 100%;
}

.journey-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  cursor: pointer;
}

.journey-video__play-icon {
  width: 10.4px;
  height: 12.48px;
}

.journey-video__intro-wrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 118px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-video__intro {
  color: #51586a;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
}

.journey__review-title {
  margin-top: 120px;
}

.journey__review-desc {
  margin-top: 20px;
}

.journey__review-list {
  margin-top: 40px;
  display: flex;
  overflow: hidden;
}

.review-item {
  width: 100%;
  flex-shrink: 0;
}

.review-item__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-item__review {
  color: #51586a;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.66667;
}

.review-item__author {
  margin-top: 48px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.review-item__portrait-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #f29764;
  border-radius: 50%;
  overflow: hidden;
}

.review-item__portrait {
  width: 100%;
}

.review-item__author-name {
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.66667;
}

.review-item__job {
  margin-top: 3px;
  color: #51586a;
  font-size: 1.6rem;
  line-height: 1.8125;
}

.review-dots {
  margin-top: 20px;
  display: flex;
}

.journey__decor {
  scale: 0.2433;
  position: absolute;
  bottom: -78px;
}

.journey__decor--left {
  left: -185px;
}

.journey__decor--right {
  right: -165px;
}

/* =======================================Question====================================== */
.question {
  margin-top: 70px;
  padding: 50px 0px;
  overflow: hidden;
}

.question__heading {
  font-size: 3.6rem;
  line-height: 116.667%;
  letter-spacing: -0.144rem;
}

.question__list {
  margin-top: 42px;
}

.question-item {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #08182f;
  transition: border-color 0.25s;
}

.question-item:not(:first-child) {
  margin-top: 40px;
}

.question-item__title {
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  transition: color 0.25s;
}

.question-item__question {
  max-height: 0;
  opacity: 0;
  color: #51586a;
  font-size: 1.6rem;
  line-height: 1.625;
  transition: max-height 0.25s, opacity 0.25s, margin-top 0.25s;
}

.question-item__image {
  width: 33px;
  height: 33px;
  border: 1px solid rgba(22, 26, 28, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.question-item__icon--open,
.question-item__icon--close {
  transition: opacity 0.25s, visibility 0.25s;
  position: absolute;
}

.question-item__icon--close {
  opacity: 0;
  visibility: hidden;
}

.question-item:has([type="checkbox"]:checked) {
  border-color: #5d3bee;
}

.question-item:has([type="checkbox"]:checked) .question-item__title {
  color: #5d3bee;
}

.question-item:has([type="checkbox"]:checked) .question-item__question {
  max-height: 150px;
  opacity: 1;
  margin-top: 15px;
}

.question-item:has([type="checkbox"]:checked) .question-item__icon--open {
  opacity: 0;
  visibility: hidden;
}

.question-item:has([type="checkbox"]:checked) .question-item__icon--close {
  opacity: 1;
  visibility: visible;
}

.question-item:has([type="checkbox"]:checked) .question-item__image {
  border-color: rgba(93, 59, 238, 0.2);
}

/* =======================================Service====================================== */
.service {
  margin-top: 20px;
  padding: 50px 0px;
  overflow: hidden;
}

.service__heading {
  font-size: 3.6rem;
  text-align: center;
  line-height: 1.16667;
  letter-spacing: -0.144rem;
}

.service__desc {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.625;
}

.service__more {
  display: block;
  margin-top: 10px;
  color: #5d3bee;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.08rem;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

.service__img-list {
  margin-top: 60px;
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}

.service__img {
  display: block;
  width: 352px;
  height: 503px;
  object-fit: cover;
}

.service__dot {
  margin-top: 40px;
}

/* =======================================Question====================================== */
.banner {
  margin-top: 40px;
  padding: 30px 0px;
  overflow: hidden;
}

.banner__wrap {
  position: relative;
  overflow: hidden;
  padding: 35px 22px;
  background: #fbfaff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__emoji {
  position: relative;
  z-index: 1;
  width: 48px;
  animation-delay: 0.25s;
}

.banner__heading {
  margin-top: 10px;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.16667;
  letter-spacing: -0.144rem;
  animation-delay: 0.25s;
}

.banner__heading span {
  display: block;
}

.banner__desc {
  margin-top: 10px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.625;
  animation-delay: 0.25s;
}

.banner__btn-wrap {
  position: relative;
  z-index: 1;
  animation-delay: 0.25s;
}

.banner__btn {
  margin-top: 30px;
  min-width: 147px;
  line-height: 55px;
  font-size: 1.6rem;
}

.banner__decor {
  position: absolute;
  scale: 0.77;
}

/* =======================================Footer====================================== */
.footer {
  margin-top: 120px;
  padding-bottom: 30px;
}

.footer__logo {
  display: block;
  margin: 0px auto;
  width: 100px;
}

.footer__link-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  padding: 0px 19px;
  color: #51586a;
  font-size: 1.6rem;
  line-height: 1.25;
}

.footer__email-wrap {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.footer__email-icon-wrap {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(93, 59, 238, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__email-link {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36364;
  text-decoration: underline;
}

.footer__privacy-wrap {
  margin-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #525771;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.66667;
  opacity: 0.6;
}

.footer__privacy {
  letter-spacing: -0.054rem;
}

.footer__copy-separate {
  margin-left: 23px;
  margin-right: 13px;
  width: 1px;
  height: 14px;
  background-color: #525771;
  opacity: 0.6;
}

.footer__separate {
  margin-top: 29px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #0c0720;
  opacity: 0.2;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .show-on-destop {
    display: block;
  }

  .show-on-mobile,
  .show-on-mobile-flex {
    display: none;
  }

  .header__mail {
    margin-left: 0;
  }

  /* =======================================Hero====================================== */
  .hero__inner {
    flex-direction: row;
  }

  .hero__portrait {
    margin: 0;
    width: 514px;
    height: 705px;
  }

  .hero__image {
    order: 1;
  }

  .hero__content {
    margin-top: 161px;
    order: 2;
  }

  .hero__heading {
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -0.32rem;
    animation-delay: 0.25s;
  }

  .hero__desc {
    max-width: 74%;
    font-size: 1.8rem;
    line-height: 1.66667;
    animation-delay: 0.5s;
  }

  .hero__btn-group {
    margin-top: 50px;
    column-gap: 30px;
    animation-delay: 0.75s;
  }

  .hero__cta {
    min-width: 170px;
    font-size: 1.8rem;
    line-height: 62px;
  }

  .hero__btn {
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .hero__contact {
    margin-top: 104px;
    column-gap: 15px;
  }

  .hero__contact-desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
  }

  .hero__social-wrap {
    column-gap: 20px;
  }

  .hero__social {
    width: 40px;
    height: 40px;
  }

  .hero__social:hover .hero__social-icon {
    transform: scale(1.1);
  }

  .hero__social-icon {
    scale: 1;
    transition: transform 0.25s;
  }

  /* =======================================Client====================================== */
  .client {
    margin-top: 60px;
  }

  .client__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 105px;
  }

  .client__heading {
    min-width: 29%;
    text-align: start;
    padding-top: 0;
    padding-left: 99px;
    font-size: 4.2rem;
    line-height: 1.19048;
    letter-spacing: -0.168rem;
  }

  .client__heading::before {
    width: 86px;
    height: 2px;
    left: 0;
    top: 22px;
    transform: translateX(0);
  }

  .client-group-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 66px;
  }

  /* =======================================Special====================================== */
  .special {
    margin-top: 50px;
    padding: 43px 0;
    overflow: hidden;
  }

  .special__heading {
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .special__desc {
    width: 43%;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .special-list {
    overflow: initial;
    margin-top: 60px;
  }

  .special-item {
    width: calc((100% - 60px) / 3);
    height: 306px;
    padding: 33px 43px;
    transition: transform 0.25s, box-shadow 0.25s;
  }

  .special-item:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .special-item__title {
    margin-top: 5px;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.128rem;
  }

  .special-item__desc {
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  /* =======================================Project====================================== */
  .project {
    margin-top: 97px;
    padding: 86px 0px;
  }

  .project__row {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .project__heading {
    text-align: initial;
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .project__desc {
    margin-bottom: 11px;
    margin-right: 172px;
    width: 31.62%;
    text-align: initial;
    font-size: 1.8rem;
    line-height: 1.66667;
    opacity: 0.7;
  }

  .project__list {
    --spacer-x: 30px;
    --spacer-y: 30px;
  }

  .project-item {
    padding: 24px 23px 23px 34px;
    column-gap: 47px;
    transition: transform 0.25s;
  }

  .project-item:hover {
    transform: scale(1.02);
  }

  .project-item__title {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.128rem;
  }

  .project-item__desc {
    --line: 2;
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.4375;
  }

  .project-item__more {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.66667;
  }

  .project-item__thumb {
    width: 246px;
    height: 187px;
  }

  .project-item__decor {
    animation: left-right 1s alternate infinite linear;
  }

  .project__btn {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #fff;
    min-width: 170px;
    font-size: 1.8rem;
    line-height: 62px;
  }

  /* =======================================Journey====================================== */
  .journey {
    padding: 140px 0px 74px;
  }

  .journey__greet {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.128rem;
  }

  .journey__image {
    margin: 0;
    scale: 0.5;
  }

  .journey__heading,
  .journey__review-title {
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .journey__desc,
  .journey__review-desc {
    max-width: 48.718%;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .journey__desc {
    margin-top: 15px;
  }

  .journey__separate {
    width: 80.85%;
  }

  .journey__separate--1 {
    margin-top: 70px;
  }

  .journey__info {
    margin: 20px 0px;
    justify-content: space-evenly;
    column-gap: initial;
  }

  .journey-info-block__num {
    font-size: 5.6rem;
    line-height: 1.35714;
    letter-spacing: 0.168rem;
  }

  .journey-info-block__desc {
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .journey-video {
    margin-top: 70px;
  }

  .journey-video__play {
    width: 111px;
    height: 111px;
  }

  .journey-video__play-icon {
    width: 15px;
    height: 18px;
  }

  .journey-video__intro-wrap {
    width: 170px;
    height: 62px;
  }

  .journey-video__intro {
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .journey__review-title {
    margin-top: 150px;
  }

  .journey__review-list {
    margin-top: 60px;
  }

  .review-item__review {
    width: 58%;
    font-size: 2.4rem;
  }

  .review-item__author {
    margin-top: 36px;
  }

  .review-item__author-name {
    font-size: 3rem;
    line-height: 1.33333;
  }

  .review-dots {
    margin-top: 40px;
    animation-delay: 0.5s;
  }

  .journey__decor {
    scale: 1;
    bottom: -25px;
    animation: animation 1s alternate infinite linear;
  }

  .journey__decor--left {
    left: -170px;
  }

  .journey__decor--right {
    right: -75px;
  }

  /* =======================================Question====================================== */
  .question {
    margin-top: 45px;
  }

  .question__heading {
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .question__list {
    margin-top: 80px;
    width: 86%;
  }

  .question-item {
    padding-bottom: 21px;
  }

  .question-item:not(:first-child) {
    margin-top: 60px;
  }

  .question-item__content {
    margin-left: 22px;
  }

  .question-item__title {
    font-size: 3.2rem;
    letter-spacing: -0.128rem;
  }

  .question-item__question {
    width: 60%;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .question-item__image {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .question-item:has([type="checkbox"]:checked) .question-item__question {
    margin-top: 23px;
  }

  /* =======================================Question====================================== */
  .service {
    margin-top: 60px;
  }

  .service__heading {
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .service__desc {
    width: 44%;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .service__more {
    margin-top: 30px;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.128rem;
  }

  .service__img-list {
    margin-top: 70px;
  }

  .service__img {
    width: 370px;
    height: 529px;
  }

  /* =======================================Question====================================== */
  .banner {
    padding: 50px 0px;
  }

  .banner__wrap {
    width: 1330px;
    max-width: calc(100% - 40px);
    padding: 68px 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner__emoji {
    width: 90px;
  }

  .banner__heading {
    margin-top: 15px;
    font-size: 5.6rem;
    line-height: 1.17857;
    letter-spacing: -0.224rem;
  }

  .banner__heading span {
    display: initial;
  }

  .banner__desc {
    margin-top: 20px;
    width: 42.8%;
    font-size: 1.8rem;
    line-height: 1.66667;
  }

  .banner__btn {
    margin-top: 40px;
    min-width: 170px;
    line-height: 62px;
    font-size: 1.8rem;
  }

  .banner__decor,
  .banner__decor-small-1,
  .banner__decor-small-2 {
    position: absolute;
    animation: animation 1s alternate infinite linear;
  }

  .banner__decor-small-1,
  .banner__decor-small-2 {
    scale: 0.537;
  }

  .banner__decor-small-1 {
    bottom: -320px;
    left: -380px;
  }

  .banner__decor-small-2 {
    top: -330px;
    right: -400px;
    rotate: 180deg;
    animation: reverse-animation 1s alternate infinite linear;
  }

  /* =======================================Footer====================================== */
  .footer {
    margin-top: initial;
  }

  .footer__wrap {
    width: 1430px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  .footer__row-top {
    padding: 0px 50px;
    display: flex;
    align-items: center;
  }

  .footer__logo-wrap {
    order: 2;
    margin-left: auto;
    margin-right: 195px;
  }

  .footer__link-list {
    order: 3;
  }

  .footer__link {
    padding: 0px 22px;
    font-size: 1.8rem;
  }

  .footer__link:hover {
    text-shadow: 1px 0 0 currentColor;
  }

  .footer__email-wrap {
    margin-top: initial;
    order: 1;
  }

  .footer__separate {
    margin-top: 32px;
    margin-bottom: 18px;
  }

  .footer__row-bottom {
    padding: 0px 147px 0px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__privacy-wrap {
    margin-top: initial;
    order: 2;
  }
}
