* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

/* =======================================Common====================================== */
a {
  text-decoration: none;
}

/* =======================================Animation====================================== */
[data-aos] {
  visibility: hidden;
}

[data-aos].animate__animated {
  visibility: visible;
}

[data-aos].animate__animated {
  pointer-events: inherit;
}
